PORT=

#Database Settings
DB_PORT=
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

#Auth
HASH_SALT=
JWT_SECRET=


# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mcljs15@gmail.com
SMTP_PASS=ndcnvjmwprwlueuy
EMAIL_FROM=mcljs15@gmail.com
EMAIL_FROM_NAME=Sistema de Envíos